@charset "UTF-8";
@import "compass";
@import "compass/reset";

body{
	margin:0;
	width:100%;
	height:100%;
	color:#fff;
	overflow: hidden;
	background-color:#222;
	-webkit-font-smoothing: antialiased;
}
aside {
  .sidedish {
    position: absolute;
    bottom: 20px;
    width: 350px;
    height: 30px;
    background: url(../sidedish.png) no-repeat center center;
    background-size: 100px;
    opacity: .3;
  }
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  background: #fff;
  height: 100vh;
  z-index: 1000;
}
#megaWrapper{
	position:absolute;
	opacity: 1;
	left: 0;
	float:left;
	background-image:url('');
	width: calc(100vw - 350px);
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	-webkit-transition:left .3s ease-in-out, opacity .3s ease-in-out;
}
body.open #megaWrapper{
	left: -260px;
	opacity:.7;
}
#container{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('../overlay.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.articleWrapper{
	position: absolute;
	//border-top: solid 1px rgba(255, 255, 255, 0.1);
	//background: rgba(0, 0, 0, 0.2);
	top: 10px;
	left: 0px;
	opacity: 0;
	padding: 20px 40px 20px 40px;
	font-family: 'Roboto';
	-webkit-transition:background-color .2s ease-in-out; 
	h1{
  	font-family: 'Roboto Slab', serif;
  	font-weight:400;
  	font-size:20px;
  	line-height:30px;
  	letter-spacing: -.2px;
  	span {
    	font-weight: 700;
    	color: #e89063;
    	float: left;
    	display: block;
  	}
  	
  }
  h1 a {
  	display:block;
  	float: left;
  	margin-left: 10px;
  	text-decoration: none;
  	color: rgba(255, 255, 255, 1);
  	width: calc(30vw);
  	-webkit-transition:opacity .2s ease-in; 
  	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  	text-transform: capitalize;
  }
  &:hover {
    //background: rgba(0, 0, 0, 0.5);
    a {
      opacity: 1;
    }
  }
}


#mostVisited {
  width: 270px;
  height: 130px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
  ul {
    li {
      a {
        float: left;
        display: block;
        width: 60px;
        height: 60px;
        background-color: rgba(255, 255, 255, 1);
        background-size: 40px;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-border-radius: 5px;
        margin: 0 10px 10px 0;
      }
      &:nth-child(4) a, &:nth-child(8) a {
        margin-right: 0;
      }
    }
  }
}
#popular {
  width: 270px;
  height: 330px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
  ul {
    li {
      a {
        float: left;
        opacity: .7;
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 10px 10px 0;
        span.icon {
          display: block;
          background-size: 40px;
          background-position: center center;
          background-repeat: no-repeat;
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          height: 45px;
        }
        span.name {
          display: block;
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          text-align: center;
          font-size: 11px;
          font-family: arial, sans-serif;
          color: #777;
        }
      }
      &:nth-child(4) a, &:nth-child(8) a, &:nth-child(12) a {
        margin-right: 0;
      }
    }
  }
}


@-webkit-keyframes social-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
#today {
  text-align: center;
  display: block;
  font-size: 25px;
  height: 25px;
  text-transform: uppercase;
  font-weight: 300;
  color:rgba(0, 0, 0, 0.1);
  font-family: 'Roboto slab', sans-serif;
  width: 350px;
  margin-top: 20px;
}
.currentTime{
	display:block;
	font-family: 'Roboto slab', sans-serif;
	font-weight:100;
	font-size:55px;
	width: 350px;
	text-align: center;
	letter-spacing: -0.05em;
	color:rgba(0, 0, 0, 0.1);
	

}

.pfLogo{
	margin-top:25px;
	width:220px;
	height:28px;
	background-image:url(../pf-logo.png);
	background-repeat:no-repeat;
	background-position:left;
}

#menuPanel{
	opacity: 0;
	position: absolute;
	right: -260px;
	top: 0;
    height: 100%;
    z-index: 999999;
    width: 220px;
    padding: 0px 20px 0 20px;
    background-color: #faf9f5;
    font-family: 'Roboto';
    font-size: 0.8em;
	color:#999;
	box-shadow: inset 3px 0 7px rgba(0,0,0,.25);
	-webkit-transition: .3s ease-in-out;
}
body.open #menuPanel{
	right: 0px;
	opacity: 1;
}

#menuPanel h2{
	margin-top:35px;
	font-family: 'Roboto Slab', serif;
	font-weight:300;
	font-size:1.3em;
	letter-spacing: -0.05em;
	color:#111;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	margin-bottom:15px;
}
#menuPanel p{
	line-height:150%;
	color:#555;
}
#menuPanel p.copyright{
	margin-top:15px;
	color:#555;
}
#menuPanel a{
	color:#e89063;
	text-decoration:none;
}
#menuPanel a:hover{
	text-decoration:underline;
}
#menuPanel input[type="checkbox"] {
    display:none;
}
#menuPanel ul{
	margin-top:20px;
}
#menuPanel li{
	margin-bottom:7px;
	line-height:16px;
}
