@charset "UTF-8";
@import "compass";
@import "compass/reset";

body{
	margin:0;
	width:100%;
	height:100%;
	color:#fff;
	overflow: hidden;
	background-color:#222;
	-webkit-font-smoothing: antialiased;
}
#megaWrapper{
	position:absolute;
	opacity: 1;
	left: 0;
	float:left;
	background-image:url('');
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	-webkit-transition:left .3s ease-in-out, opacity .3s ease-in-out;
}
body.open #megaWrapper{
	left: -260px;
	opacity:.7;
}
#container{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('../overlay.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.articleWrapper{
	position: absolute;
	border-top: solid 1px rgba(255, 255, 255, 0.1);
	bottom: 0;
	left: 0px;
	opacity: 0;
	width: calc(100vw - 80px);
	padding: 20px 40px 20px 40px;
	height: 30px;
	font-family: 'Roboto';
	-webkit-transition:background-color .2s ease-in; 
	h1{
  	font-family: 'Roboto Slab', serif;
  	font-weight:400;
  	font-size:20px;
  	line-height:30px;
  	letter-spacing: -.2px;
  	
  }
  h1 a {
  	display:block;
  	text-decoration: none;
  	color: rgba(255, 255, 255, 1);
  	width: calc(100vw - 80px);
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	-webkit-transition:opacity .2s ease-in; 
  	opacity: .6;
  	&:before {
    	content: "Read: ";
    	font-weight: 700;
    	color: rgba(255, 171, 0, 1);
  	}
  }
  &:hover {
    background: rgba(0, 0, 0, 0.5);
    a {
      opacity: 1;
    }
  }
}

@-webkit-keyframes social-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.visitedTabs{
	position:absolute;
	top:10vh;
	width:60vw;
	text-align:center;
	background-color:rgba(255,255,255,0.1);
	border-top: 1px solid #cccccc;

}
.visitedTabs:hover{

}
.visitedTabs ul{
	text-align: left;
	
}
.visitedTabs ul li{
	display:inline-block;
	width: 10.9vw;
	height: 38px;
	margin:0;
	border-right:1px solid #ccc;
}

.visitedTabs ul li:nth-child(9) {
  border-right: 0;
}

.visitedTabs ul li a {
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-align:left;
	color: #666;
	text-decoration: none;
	background-image:url(../thumb2.png);
	background-repeat:no-repeat;
	background-position:8px center;
	padding-left: 30px;
	padding-right:8px;
	font-family: 'Lucida Grande', sans-serif, arial;
	font-size: 12px;
	line-height:38px;
	transition:.1s ease-in; 
	-webkit-transition:.1s ease-in-out;
}
.visitedTabs ul li a.second {
	background-image:url(../thumb1.png);
}
.visitedTabs ul li a:hover{
	background-color: #fff;
	color:#222;
}
.menuLink{
	display:block;
	height:30px;
	width:32px;
	float:right;
	margin-top:25px;
	margin-right:30px;
	background-image:url(../icon-menu.png);
	background-repeat:no-repeat;	
}
.nextLink{
	display:block;
	float: right;
	margin-top:25px;
	width:32px;
	height:30px;
	background-image:url(../icon-next.png);
	background-repeat:no-repeat;
	margin-right: 15px;
}
.linksLink{
	display:block;
	float: right;
	margin-top:25px;
	width:32px;
	height:30px;
	background-image:url(../icon-links.png);
	background-repeat:no-repeat;
	margin-right: 15px;
}
.currentTime{
	display:block;
	float: right;
	margin-top:25px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:1.8em;
	letter-spacing: -0.05em;
	color:#fff;
	margin-right: 20px;
}

.pfLogo{
	margin-top:25px;
	width:220px;
	height:28px;
	background-image:url(../pf-logo.png);
	background-repeat:no-repeat;
	background-position:left;
}

#menuPanel{
	opacity: 0;
	position: absolute;
	right: -260px;
	top: 0;
    height: 100%;
    z-index: 999999;
    width: 220px;
    padding: 0px 20px 0 20px;
    background-color: #faf9f5;
    font-family: 'Roboto';
    font-size: 0.8em;
	color:#999;
	box-shadow: inset 3px 0 7px rgba(0,0,0,.25);
	-webkit-transition: .3s ease-in-out;
}
body.open #menuPanel{
	right: 0px;
	opacity: 1;
}

#menuPanel h2{
	margin-top:35px;
	font-family: 'Roboto Slab', serif;
	font-weight:300;
	font-size:1.3em;
	letter-spacing: -0.05em;
	color:#111;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	margin-bottom:15px;
}
#menuPanel p{
	line-height:150%;
	color:#555;
}
#menuPanel p.copyright{
	margin-top:15px;
	color:#555;
}
#menuPanel a{
	color:#e89063;
	text-decoration:none;
}
#menuPanel a:hover{
	text-decoration:underline;
}
#menuPanel input[type="checkbox"] {
    display:none;
}
#menuPanel ul{
	margin-top:20px;
}
#menuPanel li{
	margin-bottom:7px;
	line-height:16px;
}
#menuPanel input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
	vertical-align:middle;
    background:url(../checks.png) left top no-repeat;
	margin: -3px 8px 0 0;
	cursor:pointer;
}
#menuPanel input[type="checkbox"]:checked + label span {
    background:url(../checks.png) -18px top no-repeat;
}
#menuPanel input[type="checkbox"] + label {
    color:#777;
}
#menuPanel input[type="checkbox"]:checked + label {
	color: #555;
}

/* Links Drop Down Panel */


.dropdown {
	position: absolute;
	z-index: 9999999;
	display: none;
}
.dropdown .dropdown-panel {
	min-width: 160px;
	max-width: 340px;
	list-style: none;
	background: #FFF;
	border: solid 1px #DDD;
	border: solid 1px rgba(0, 0, 0, .2);
	border-radius: 3px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
	overflow: visible;
	padding: 4px 0;
	margin: 0;
}
.dropdown .dropdown-panel {
	padding: 20px;
}
.dropdown.dropdown-tip {
	margin-top: 8px;
}
.dropdown.dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.dropdown.dropdown-tip.dropdown-anchor-right:before {
	left: auto;
	right: 9px;
}
.dropdown.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}
.dropdown.dropdown-tip.dropdown-anchor-right:after {
	left: auto;
	right: 10px;
}
.dropdown.dropdown-scroll .dropdown-menu,
.dropdown.dropdown-scroll .dropdown-panel {
	max-height: 358px;
	overflow: auto;
}


.linksList{
}

.linksList li{
	display: inline-block;
	border: 1px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-size:0.8em;
	width: 80px;
	height: 80px;
	text-align: center;
	margin:0;
	transition:opacity 0.2s;
}
.linksList li:hover{
	opacity: 0.8;
}
.linksList li a{
	display: block;
	padding-top: 10px;
	width: 100%;
	height: 70px;
	text-align: center;
	color:#777;
	text-decoration: none;
}
.linksImages{
	display: block;
	margin: 0 auto;
	background-image: url(../icons-links.png);
	background-position: center top;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
.linksImages.gmail{
	background-position: center -96px;
}
.linksImages.drive{
	background-position: center -32px;
}
.linksImages.dropbox{
	background-position: center top;
}
.linksImages.youtube{
	background-position: center -288px;
}
.linksImages.facebook{
	background-position: center -352px;
}
.linksImages.twitter{
	background-position: center -224px;
}
.linksImages.ello{
	background-position: center -160px;
}
.linksImages.wikipedia{
	background-position: center -256px;
}
.linksImages.medium{
	background-position: center -128px;
}
.linksImages.ebay{
	background-position: center -64px;
}
.linksImages.amazon{
	background-position: center -320px;
}
.linksImages.tumblr{
	background-position: center -192px;
}
.linksTitle{
	margin-top: 8px;
	display: block;
	letter-spacing: -0.02em;
	line-height:150%;
}

