<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta property="og:title" content="{{title}}" />	
	<meta property="og:image" content="{{image}}" />	
	<meta property="og:description" content="{{itemDesc}}" />
	<title>Poshfeed: {{title}}</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css'>	
	<link href='../assets/templates/style.css' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id="megaWrapper"  style="background-image:url({{image}})">
        <div id="container">
            <a class="menuLink" style="display: none;" id="menuLink" href="#"></a>
            <a class="nextLink" style="display: none;" id="nextLink" href="#"></a>
            <div class="articleWrapper">
                <h1><a id="pageTitle"  href="#">{{title}}</a></h1>
                {{desc}}
                <a class="articleSource"  href="#">via <span id="pageSource">{{source}}</span></a>
                <a id="sharePage" class="shareButton" href="#">Share</a>
            </div>
        </div>             
    </div>
</body>
<script>
	poshFeed = {};
	poshFeed.item = {{fullItem}};	
</script>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/webTab.js"></script>
</html>
