@charset "UTF-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


body{
	margin:0;
	background-color:#faf9f5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-family:Merriweather, georgia;
	color:#fff;
	font-weight:700;
	font-size:32px;
	line-height:38px;
	letter-spacing:-0.05em;
	margin-bottom:10px;
	text-shadow: 0 1px 1px #0e2932;
	display: inline-block;
}
h2{
	font-family:Merriweather, georgia;
	color:#555;
	font-weight:700;
	font-size:18px;
	letter-spacing:-0.06em;
	margin-top:20px;
	margin-bottom:15px;
}
h3{
	font-family:Merriweather, georgia;
	color:#4c4c49;
	font-weight:700;
	font-size:14px;
	margin-bottom:15px;
}
h4{
	font-family:Merriweather, georgia;
	color:#fff;
	font-weight:700;
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px;
}
.clearFix{
	clear:both;
}
#container{
	text-align:center;
}
.videoLayer{
	position:absolute;
	top:94px;
	width:100%;
	height:506px;
	background-color:#000;
	background-color: rgba(0,0,0,.6);
}
.closeVdo{
	height:30px;
	background-color: rgba(255,255,255,.7);
}
.closeBtn{
	position:absolute;
	background-image:url(../images/icon-close-video.png);
	width:24px;
	height:24px;
	background-repeat:no-repeat;
	float:right;
	display:block;
	margin-top:10px;
	right:50%;
	margin-right:-490px;
}

	
.navArea{
	margin:0 auto;
	width:100%;
	height: 72px;
	padding-top:22px;
	background-color:#faf9f5;
	background-color:rgba(255,249,245,.95);
	margin-bottom:80px;
}
#logo{
	margin:0 auto;
	background-image:url(../images/poshfeed.png);
	width:940px;
	height:48px;
	background-repeat:no-repeat;
}
.topContent{
	width:100%;
	height:600px;
	background-image:url(../images/bg-main.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-bottom:100px;
}
.mainMessage{
	margin:0 auto;
	width:780px;
}
.mainMessage p{
	font-family:Merriweather, georgia;
	color:#fff;
	font-weight:300;
	font-size:17px;
	line-height:27px;
	margin-bottom:60px;
	text-shadow: 0 1px 1px #0e2932;
}
.mainMessage a{
	display:inline-block;
	text-decoration: none;
	font-family:Merriweather, georgia;
	font-size:18px;
	font-weight:700;
	color:#0e2932;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	padding:0 30px;
	height: 60px;
	line-height:60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: rgba(255,255,255,.5);
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.5), inset 0 1px rgba(255,255,255,.55);
	-moz-box-shadow: 0 2px 13px rgba(0,0,0,.6), inset 0 1px rgba(255,255,255,.55);
	box-shadow: 0 2px 13px rgba(0,0,0,.6), inset 0 1px rgba(255,255,255,.55);
	transition:.2s ease-in;  
	-moz-transition:.2s ease-in;  
	-webkit-transition:.2s ease-in;  
}
.mainMessage a:hover{
	background-color: rgba(255,255,255,.6);
	box-shadow:0 1px 20px rgba(0,0,0,.8);
	-moz-box-shadow:0 1px 20px rgba(0,0,0,.8);
	-webkit-box-shadow:0 1px 20px rgba(0,0,0,.8);
}
.watchVdo{
	margin:0 auto;
	background-image:url(../images/icon-play.png);
	background-repeat:no-repeat;
	height:76px;
	width:76px;
	margin-bottom:80px;
}
.featurama{
	margin:0 auto;
	width:940px;
	padding-bottom:70px;
}
.feature{
	float:left;
	width:300px;
	margin-right:20px;
	text-align:center;
}
.feature .icon{
	margin:0 auto;
	width:140px;
	height:140px;
	background-repeat:no-repeat;
}
.feature.last{
	margin-right:0;
}
.feature.first .icon{
	background-image:url(../images/icon-curation.png);
}
.feature.second .icon{
	background-image:url(../images/icon-transparent.png);
}
.feature.last .icon{
	background-image:url(../images/icon-easy-install.png);
}
.featurama p{
	color:#666;
	font-size:14px;
	line-height:19px;
	padding:0 20px;
}
.featurama a{
	color:#e89063;
	text-decoration:none;
}
.featurama a:hover{
	text-decoration:underline;
}
.testamonials{
	padding-top:50px;
	margin:0 auto;
	width:940px;
}
.testamonials h2{
	margin-bottom:50px;
}
.people{
	float:left;
	width:460px;
	margin-right:20px;
}
.people .icon{
	float:left;
	width:100px;
	height:100px;
	background-repeat:no-repeat;
	margin-right:15px;
}
.people.first .icon{
	background-image:url(../assets/images/people-george.png);
}
.people.last .icon{
	background-image:url(../assets/images/people-2.png);
}
.people.last{
	margin-right:0;
}
.people .text{
	text-align:left;
	width:315px;
	float:left;
	color:#666;
	font-size:13px;
	line-height:18px;
	background-image:url(../images/bg-qoute.png);
	background-repeat:no-repeat;
	padding-left:30px;
	padding-top:20px;
}
.people .text .title{
	line-height: 30px;
	font-weight:600;
}
.footerWrapper{
	margin-top:90px;
	padding-top:40px;
	width:100%;
	height:350px;
	background-color:#e6e4dc;
	border-top: solid 1px #d6d4ce;
}
.footer{
	margin:0 auto;
	width:940px;
}
.footie{
	float:left;
	width:300px;
	margin-right:20px;
	text-align:left;
}
.footie.last{
	margin-right:0;
}
.footie p{
	text-align:left;
	color:#666562;
	font-size:12px;
	line-height:19px;
	padding-right:30px;
}
.footie .copyright{
	color:#888;
	font-size:11px;
}
.footie li{
}
.footie a{
	color:#666562;
	font-size:12px;
	text-decoration:none;
	line-height: 19px;
}
.footie a:hover{
	color:#4c4c49;
}


.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-dialog {
  z-index: 1050;
  width: auto;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.modal-content {
	text-align:left;
	position: relative;
	background-color: #49a69c;
	background-image: -webkit-linear-gradient(top, #338b7e, #5fc1ba);
	background-image: -moz-linear-gradient(top, #338b7e, #5fc1ba);
	background-image: -o-linear-gradient(top, #338b7e, #5fc1ba);
	background-image: -ms-linear-gradient(top, #338b7e, #5fc1ba);
	background-image: linear-gradient(to bottom, #338b7e, #5fc1ba);
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  min-height: 16.428571429px;
  padding:15px 20px;
  border-bottom: 1px solid #5abab3;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.modal-body {
  position: relative;
  padding: 8px 20px 20px 20px;	
}

.modal-footer {
  padding: 0px 20px 20px 20px;
  text-align: left;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    left: 50%;
    width: 362px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #a1fff8;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 0 0 #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal-body input{
	width: 300px;
	padding:10px 10px;
	font-size:14px;
	font-weight:400;
	margin: 0;
	border: 1px solid #338b7e;
	background-color: #b9fef9;
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
.modal-body input:focus{
	background-color:#fff;
}
.modal-body select{
	padding:10px 10px 10px 5px;
	width: 322px;
	height:40px;
	font-size:14px;
	font-weight:400;
	border: 1px solid #338b7e;
	margin: 0;
	background-color: #b9fef9;
	outline:none;
}
.modal-body textarea{
	width: 300px;
	height:160px;
	padding:10px 10px;
	font-size:14px;
	font-weight:400;
	margin: 0;
	border: 1px solid #338b7e;
	background-color: #b9fef9;
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
.modal-body textarea:focus{
	background-color:#fff;
}
.contactLabel{
	margin:12px 0 8px 0;
	font-size:14px;
	font-weight:600;
	color:#e9fffd;
}
.sendBtn{
	background-color:#e89063;
	font-size:14px;
	font-weight:700;
	padding:10px 10px;
	color:#ffeada;
	text-shadow:0 1px 0 #e16f46;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #e16f46;
	transition:0.2s ease-in-out;
	-webkit-transition:0.2s ease-in-out;
	-moz-transition:0.2s ease-in-out;	
}
.sendBtn:hover{
	background-color:#e47c51;
}
body .modal-body .validFail{
	background-color:#ffb9b9;
}
