@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

body{
	margin:0;
	width:100%;
	height:100%;
	font-family:Merriweather, georgia;
	color:#fff;
	overflow: hidden;
	background-color:#222;
	-webkit-font-smoothing: antialiased;
}
#megaWrapper{
	position:absolute;
	left: 0;
	float:left;
	background-image:url('');
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	-webkit-transition:left .3s ease-in-out;
}
body.open #megaWrapper{
	left: -260px;
	opacity:.7;
}
#container{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('overlay.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.articleWrapper{
	position: relative;
	left: 30px;
	top: 30px;
	width:300px;
	padding:20px;
	background-color:rgba(0,0,0,.6);
	font-family: 'Domine', serif;
	transition:background-color .2s ease-in; 
	-webkit-transition:background-color .2s ease-in; 
}
.articleWrapper:hover{
	background-color:rgba(0,0,0,.7);
}
h1{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	font-size:30px;
	line-height:38px;
	letter-spacing:-0.05em;
	color:#fff;
	text-shadow:0 1px 0 #000;
	margin-bottom:15px;
}
h1 a {
	display:block;
	text-decoration: none;
	color:#fff;
}
.articleDesc{
	display:block;
	font-size:15px;
	line-height:150%;
	color:#faf9f5;
	text-shadow:0 1px 0 #000;
	text-decoration: none;
	margin-bottom:10px;
}
.articleSource{
	display:block;
	font-size:15px;
	line-height:22px;
	text-shadow:0 1px 0 #000;
	text-decoration: none;
	color:#faf9f5;
}
.articleSource span{
	color:#49a69c;
}
.shareButton{
	margin-top:20px;
	display:inline-block;
	background-color:#f2f2f2;
	height:24px;
	line-height:24px;
	background-image:url(icon-fb.png);
	background-repeat:no-repeat;
	border-radius:2px;
	color:#333;
	font-size:12px;
	text-decoration:none;
	padding:0 10px 0 24px;
	transition:.2s ease-in; 
	-webkit-transition:.2s ease-in; 
}
.shareButton:hover{
	background-color:#fff;
	color:#111;
}
.visitedTabs{
	position:absolute;
	bottom:0px;
	width:100%;
	height:60px;
	text-align:center;
	opacity:.3;
	background-color:rgba(0,0,0,.7);
	transition:.2s ease-in-out; 
	-webkit-transition:.2s ease-in-out;
}
.visitedTabs:hover{
	opacity:1;
	bottom:0;
}
.visitedTabs ul{
	
}
.visitedTabs ul li{
	display:inline-block;
	width: 150px;
	height: 28px;
	margin:15px 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #eceeee;
	border: solid 1px #9f9f9f;
	background-image: -webkit-linear-gradient(bottom, #e8ebeb, #eff0f0);
	background-image: -moz-linear-gradient(bottom, #e8ebeb, #eff0f0);
	background-image: -o-linear-gradient(bottom, #e8ebeb, #eff0f0);
	background-image: linear-gradient(to top, #e8ebeb, #eff0f0);
}

.visitedTabs ul li a {
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-align:left;
	color: #666;
	text-decoration: none;
	background-image:url(thumb2.png);
	background-repeat:no-repeat;
	background-position:6px 6px;
	padding-left: 28px;
	padding-right:10px;
	font-family: 'Lucida Grande', sans-serif, arial;
	font-size: 12px;
	line-height:28px;
	transition:.1s ease-in; 
	-webkit-transition:.1s ease-in-out;
}
.visitedTabs ul li a.second {
	background-image:url(thumb1.png);
}
.visitedTabs ul li a:hover{
	background-color: #fff;
	color:#222;
}
.menuLink{
	display:block;
	height:30px;
	width:32px;
	float:right;
	margin-top:25px;
	margin-right:30px;
	background-image:url(icon-menu.png);
	background-repeat:no-repeat;	
}
.nextLink{
	display:block;
	float: right;
	margin-top:25px;
	width:32px;
	height:30px;
	background-image:url(icon-next.png);
	background-repeat:no-repeat;
	margin-right: 10px;
}

.pfLogo{
	margin-top:25px;
	width:220px;
	height:28px;
	background-image:url(pf-logo.png);
	background-repeat:no-repeat;
	background-position:left;
}

#menuPanel{
	position: absolute;
	right: -260px;
	top: 0;
    height: 100%;
    z-index: 999999;
    width: 220px;
    padding: 0px 20px 0 20px;
    background-color: #faf9f5;
	color: rgb(48, 57, 66);
	font-family: 'Domine', serif;
	font-size:12px;
	box-shadow: inset 3px 0 7px rgba(0,0,0,.25);
	-webkit-transition:right .3s ease-in-out;
}
body.open #menuPanel{
	right: 0px;
}

#menuPanel h2{
	margin-top:35px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#222;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	margin-bottom:15px;
}
#menuPanel p{
	line-height:150%;
	color:#333;
}
#menuPanel p.copyright{
	margin-top:15px;
	color:#777;
}
#menuPanel a{
	color:#e89063;
	text-decoration:none;
}
#menuPanel a:hover{
	text-decoration:underline;
}
#menuPanel input[type="checkbox"] {
    display:none;
}
#menuPanel ul{
	margin-top:20px;
}
#menuPanel li{
	margin-bottom:7px;
	line-height:16px;
}
#menuPanel input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
	vertical-align:middle;
    background:url(checks.png) left top no-repeat;
	margin: -3px 8px 0 0;
	cursor:pointer;
}
#menuPanel input[type="checkbox"]:checked + label span {
    background:url(checks.png) -18px top no-repeat;
}
#menuPanel input[type="checkbox"] + label {
    color:#777;
}
#menuPanel input[type="checkbox"]:checked + label {
	color: rgb(48, 57, 66);
}