@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

body{
	margin:0;
	width:100%;
	height:100%;
	color:#fff;
	overflow: hidden;
	background-color:#222;
	-webkit-font-smoothing: antialiased;
}
#megaWrapper{
	position:absolute;
	opacity: 1;
	left: 0;
	float:left;
	background-image:url('');
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	-webkit-transition:left .3s ease-in-out, opacity .3s ease-in-out;
}
body.open #megaWrapper{
	left: -260px;
	opacity:.7;
}
#container{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('overlay.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.articleWrapper{
	opacity: 0;
	margin-top: 30px;
	margin-left: 30px;
	width:35vw;
	max-width: 400px;
	padding:30px 40px;
	background-color:rgba(255,255,255,.9);
	font-family: 'Roboto';
	transition:background-color .2s ease-in; 
	-webkit-transition:background-color .2s ease-in; 
}
.articleWrapper:hover{
	background-color:rgba(255,255,255,1);
}
h1{
	font-family: 'Roboto Slab', serif;
	font-weight:300;
	font-size:1.8em;
	line-height:140%;
	letter-spacing:-0.05em;
	color:#000;
	margin-bottom:10px;
	margin-top:5px;
}
h1 a {
	display:block;
	text-decoration: none;
	color:#000;
}
.articleDesc{
	display:block;
	font-family: 'Roboto Slab', serif;
	font-size:0.9em;
	letter-spacing: -0.02em;
	line-height:150%;
	color:#666;
	text-decoration: none;
	margin-bottom:10px;
}
.articleSource{
	display:block;
	font-size:1em;
	letter-spacing:-0.05em;
	font-weight:400;
	line-height:22px;
	font-style: italic;
	text-decoration: none;
	color:#999;
}
.articleSource span{
	font-weight:400;
	color:#999;
}
#likeIframeWrapper {
	width: 92px;
	overflow:hidden;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	position: relative;
	margin-top: 20px;
}
.pocket-btn {
	width: 100px;
	overflow:hidden;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	position: relative;
	margin-top: 20px;
}
.dividerA{
	margin-top: 20px;
	height: 1px;
	width: 150px;
	background-color: #999;
}
#socialButtons {
	opacity: 0;
	-webkit-animation: social-fadein 0.6s 1.3s forwards;
}

@-webkit-keyframes social-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.visitedTabs{
	position:absolute;
	bottom:0px;
	width:100%;
	height:38px;
	text-align:center;
	background-color:rgba(250,250,250,0.9);
	border-top: 1px solid #cccccc;

}
.visitedTabs:hover{

}
.visitedTabs ul{
	text-align: left;
	
}
.visitedTabs ul li{
	display:inline-block;
	width: 11vw;
	height: 38px;
	margin:0;
	border-right:1px solid #ccc;
}

.visitedTabs ul li a {
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-align:left;
	color: #666;
	text-decoration: none;
	background-image:url(thumb2.png);
	background-repeat:no-repeat;
	background-position:8px center;
	padding-left: 30px;
	padding-right:8px;
	font-family: 'Lucida Grande', sans-serif, arial;
	font-size: 12px;
	line-height:38px;
	transition:.1s ease-in; 
	-webkit-transition:.1s ease-in-out;
}
.visitedTabs ul li a.second {
	background-image:url(thumb1.png);
}
.visitedTabs ul li a:hover{
	background-color: #fff;
	color:#222;
}
.menuLink{
	display:block;
	height:30px;
	width:32px;
	float:right;
	margin-top:25px;
	margin-right:30px;
	background-image:url(icon-menu.png);
	background-repeat:no-repeat;	
}
.nextLink{
	display:block;
	float: right;
	margin-top:25px;
	width:32px;
	height:30px;
	background-image:url(icon-next.png);
	background-repeat:no-repeat;
	margin-right: 15px;
}
.linksLink{
	display:block;
	float: right;
	margin-top:25px;
	width:32px;
	height:30px;
	background-image:url(icon-links.png);
	background-repeat:no-repeat;
	margin-right: 15px;
}
.currentTime{
	display:block;
	float: right;
	margin-top:25px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:1.8em;
	letter-spacing: -0.05em;
	color:#fff;
	margin-right: 20px;
}

.pfLogo{
	margin-top:25px;
	width:220px;
	height:28px;
	background-image:url(pf-logo.png);
	background-repeat:no-repeat;
	background-position:left;
}

#menuPanel{
	opacity: 0;
	position: absolute;
	right: -260px;
	top: 0;
    height: 100%;
    z-index: 999999;
    width: 220px;
    padding: 0px 20px 0 20px;
    background-color: #faf9f5;
    font-family: 'Roboto';
    font-size: 0.8em;
	color:#999;
	box-shadow: inset 3px 0 7px rgba(0,0,0,.25);
	-webkit-transition: .3s ease-in-out;
}
body.open #menuPanel{
	right: 0px;
	opacity: 1;
}

#menuPanel h2{
	margin-top:35px;
	font-family: 'Roboto Slab', serif;
	font-weight:300;
	font-size:1.3em;
	letter-spacing: -0.05em;
	color:#111;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	margin-bottom:15px;
}
#menuPanel p{
	line-height:150%;
	color:#555;
}
#menuPanel p.copyright{
	margin-top:15px;
	color:#555;
}
#menuPanel a{
	color:#e89063;
	text-decoration:none;
}
#menuPanel a:hover{
	text-decoration:underline;
}
#menuPanel input[type="checkbox"] {
    display:none;
}
#menuPanel ul{
	margin-top:20px;
}
#menuPanel li{
	margin-bottom:7px;
	line-height:16px;
}
#menuPanel input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
	vertical-align:middle;
    background:url(checks.png) left top no-repeat;
	margin: -3px 8px 0 0;
	cursor:pointer;
}
#menuPanel input[type="checkbox"]:checked + label span {
    background:url(checks.png) -18px top no-repeat;
}
#menuPanel input[type="checkbox"] + label {
    color:#777;
}
#menuPanel input[type="checkbox"]:checked + label {
	color: #555;
}

/* Links Drop Down Panel */


.dropdown {
	position: absolute;
	z-index: 9999999;
	display: none;
}
.dropdown .dropdown-panel {
	min-width: 160px;
	max-width: 340px;
	list-style: none;
	background: #FFF;
	border: solid 1px #DDD;
	border: solid 1px rgba(0, 0, 0, .2);
	border-radius: 3px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
	overflow: visible;
	padding: 4px 0;
	margin: 0;
}
.dropdown .dropdown-panel {
	padding: 20px;
}
.dropdown.dropdown-tip {
	margin-top: 8px;
}
.dropdown.dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.dropdown.dropdown-tip.dropdown-anchor-right:before {
	left: auto;
	right: 9px;
}
.dropdown.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}
.dropdown.dropdown-tip.dropdown-anchor-right:after {
	left: auto;
	right: 10px;
}
.dropdown.dropdown-scroll .dropdown-menu,
.dropdown.dropdown-scroll .dropdown-panel {
	max-height: 358px;
	overflow: auto;
}


.linksList{
}

.linksList li{
	display: inline-block;
	border: 1px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-size:0.8em;
	width: 80px;
	height: 80px;
	text-align: center;
	margin:0;
	transition:opacity 0.2s;
}
.linksList li:hover{
	opacity: 0.8;
}
.linksList li a{
	display: block;
	padding-top: 10px;
	width: 100%;
	height: 70px;
	text-align: center;
	color:#777;
	text-decoration: none;
}
.linksImages{
	display: block;
	margin: 0 auto;
	background-image: url(icons-links.png);
	background-position: center top;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
.linksImages.gmail{
	background-position: center -96px;
}
.linksImages.drive{
	background-position: center -32px;
}
.linksImages.dropbox{
	background-position: center top;
}
.linksImages.youtube{
	background-position: center -288px;
}
.linksImages.facebook{
	background-position: center -352px;
}
.linksImages.twitter{
	background-position: center -224px;
}
.linksImages.ello{
	background-position: center -160px;
}
.linksImages.wikipedia{
	background-position: center -256px;
}
.linksImages.medium{
	background-position: center -128px;
}
.linksImages.ebay{
	background-position: center -64px;
}
.linksImages.amazon{
	background-position: center -320px;
}
.linksImages.tumblr{
	background-position: center -192px;
}
.linksTitle{
	margin-top: 8px;
	display: block;
	letter-spacing: -0.02em;
	line-height:150%;
}

