@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

body{
	margin:0;
	width:100%;
	height:100%;
	font-family: 'Roboto Slab', serif;
	color:#fff;
	overflow: hidden;
	background-color:#222;
	-webkit-font-smoothing: antialiased;
}
#pageBackground{
	position:absolute;
	left: 0;
	float:left;
	background-image:url('');
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	-webkit-filter: blur(18px);
	background-color: rgb(70,70,70);
}
#megaWrapper{
	position:absolute;
	right: 0;
	opacity: 1;
	width:100%;
	height:100%;
	background-color: rgba(110,130,140,0.6);
	background-image: url('overlay.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-transition:right .3s ease-in-out, opacity .3s ease-in-out;
}
body.open #megaWrapper{
	right: -260px;
	opacity:.7;
}
#topNav{
	height: 32px;
	padding: 14px 30px 14px 26px;
	background-color: rgba(255,255,255,0.08);
	border-bottom: 1px solid rgba(255,255,255,.2);
	margin-bottom: 30px;
}
#topNav ul{
	float: left;
}
#topNav li{
	float: left;
}
.menuLink{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(icon-menu.png);
	background-repeat: no-repeat;
}
.nextLink{
	margin-left: 13px;
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(icon-refresh.png);
	background-repeat: no-repeat;
}
.currentTime{
	float: right;
	font-size: 1.8em;
	font-weight: 300;
}
.search{
	margin-left: 20px;
	width: 446px;
	height: 32px;
	background-color: #fff;
	border-radius: 3px;
	border: 0;
	font-weight: 300;
	color: #666;
	font-size: 1em;
	letter-spacing: -0.05em;
	padding: 0 10px;
}
.articleWrapper{
	opacity: 0;
	float: left;
	margin: 0 30px;
	width: 560px;
	background-color: #fff;
	border-radius: 3px;
	transition:background-color .2s ease-in; 
	-webkit-transition:background-color .2s ease-in; 
}
.articleWrapper:hover{
}
#articleImage{
	display: block;
	width: 560px;
	height: 315px;
	background-image: url('');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-color: rgb(230,230,230);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.articleWrapper .text{
	padding: 30px 45px;
}
.articleWrapper .text a{
	text-decoration: none;
}
h1{
	font-weight: 700;
	color: #444;
	font-size: 1.8em;
	letter-spacing: -0.05em;
	line-height: 135%;
	margin-bottom: 15px;
}
h1 a {
	display:block;
	text-decoration: none;
	color:#444;
}
.articleDesc{
	font-weight: 300;
	color: #555;
	font-size: 1em;
	letter-spacing: ;
	line-height: 140%;
}
.articleSource{
	display:block;
	font-weight: 700;
	color: #aaa;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: -0.06;
	margin-bottom: 5px;
}
.articleSource span{
}
#likeIframeWrapper {
	width: 92px;
	overflow:hidden;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	position: relative;
	margin-top: 20px;
}
.pocket-btn {
	width: 100px;
	overflow:hidden;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	position: relative;
	margin-top: 20px;
}
#socialButtons {
	opacity: 0;
	-webkit-animation: social-fadein 0.6s 1.3s forwards;
}

@-webkit-keyframes social-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.visitedTabs{
	text-align: center;
	width: 100%;
	font-family: 'Open Sans';
}
.visitedTabs a{
	text-decoration: none;
}

.visitedTabs ul{
	height: 400px;
	overflow: hidden;
}
.visitedTabs li{
	display: inline-block;
	width: 160px;
	height: 120px;
	background-color: ;
	border-radius: 3px;
	margin: 0 30px 20px 0;
}
.visitedTabs li:hover{
}
.tabImage{
	position: relative;
	display: block;
	width: 160px;
	height: 95px;
	background-image:'';
	background-size: 100% ; 
	background-color: rgba(255,255,255,0.08);
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 3px;
}
.tabImage img{
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.tabTitle{
	display: block;
	font-size: 0.7em;
	height: 16px;
	color: #fff;
	padding-top: 10px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pfLogo{
	margin-top:18px;
	width:220px;
	height:28px;
	background-image:url(pf-logo.png);
	background-repeat:no-repeat;
	background-position:left;
}

#menuPanel{
	opacity: 0;
	position: absolute;
	left: -260px;
	top: 0;
    height: 100%;
    z-index: 999999;
    width: 220px;
    padding: 0px 20px 0 20px;
    background-color: rgba(255,255,255,.8);
	color: rgb(48, 57, 66);
	font-family: 'Domine', serif;
	-webkit-transition: .3s ease-in-out;
}
body.open #menuPanel{
	left: 0px;
	opacity: 1;
}

#menuPanel h2{
	margin-top:45px;
	font-weight:700;
	font-size:1em;
	letter-spacing: -0.06em;
	color:#333;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	margin-bottom:15px;
}
#menuPanel p{
	font-size: 0.8em;
	font-weight: 300;
	line-height:150%;
	color:#555;
}
#menuPanel p.copyright{
	margin-top:25px;
	color:#777;
}
#menuPanel a{
	color:#e89063;
	text-decoration:none;
}
#menuPanel a:hover{
	text-decoration:underline;
}
#menuPanel input[type="checkbox"] {
    display:none;
}
#menuPanel ul{
	margin-top:20px;
}
#menuPanel li{
	font-size: 0.8em;
	font-weight: 300;
	color: #555;
	margin-bottom:7px;
	line-height:16px;
}
#menuPanel input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
	vertical-align:middle;
    background:url(checks.png) left top no-repeat;
	margin: -3px 8px 0 0;
	cursor:pointer;
}
#menuPanel input[type="checkbox"]:checked + label span {
    background:url(checks.png) -18px top no-repeat;
}
#menuPanel input[type="checkbox"] + label {
    color:#777;
}
#menuPanel input[type="checkbox"]:checked + label {
	color: rgb(48, 57, 66);
}