@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

body#poshfeed{
	margin:0;
	background-image:url('');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	font-family:Merriweather, georgia;
	color:#fff;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
h1 a {
	font-weight:700;
	font-size:30px;
	line-height:37px;
	background-color: rgba(0,0,0,.4);
	margin-bottom:14px;
	display: inline-block;
	padding: 5px;
	color: #fff;
	text-decoration: none;
}
#container{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('overlay.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.mainContent{
	position: relative;
	left: 100px;
	width:600px;
	top: 30%;
	margin-top: -100px;
}
.mainContent a#pageDesc{
	font-weight:400;
	color: #fff;
	text-decoration: none;
	font-size:16px;
	line-height:22px;
	background-color: rgba(0,0,0,.4);
	padding:5px;
	margin-bottom:30px;
	display: inline-block;
}
.mainContent a.button{
	display:inline-block;
	padding:15px 18px;
	font-size:18px;
	font-weight:700;
	text-decoration: none;
	background-color:#000;
	color:#fff;
	-webkit-transition:.2s ease-in;  

}
.mainContent a:hover{
}
.source{
	font-weight:300;
	line-height:24px;
	background-color: rgba(0,0,0,.3);
	padding:0 5px;
	margin-bottom: 20px;
	display:inline-block;
	font-size: 14px;
	color: #eee;
}


#mostVisited {
	position: absolute;
	right: -50px;
	top: 0px;
	width: 210px;
	height: 100%;
	background-color: rgba(255,255,255,.8);
	border-left: solid 1px rgba(0,0,0,.3);
	overflow: hidden;
	font-size: 13px;
	opacity: .4;
	-webkit-transition:.2s ease-in-out;
}
#mostVisited:hover {
	opacity: 1;
	border-color: rgba(0,0,0,.1);
	right: 0;
}
#mostVisited:hover a {
}
#mostVisited ul {
	margin: 15px;
}
#mostVisited li {
	margin-bottom: 2px;
	font-family: 'Lucida Grande', sans-serif, arial;
}
#mostVisited a {
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	color: #555;
	text-decoration: none;
	padding: 5px 0;
	padding-left: 26px;
	font-size: 12px;
}
#mostVisited a:hover {
	color: #000;
}
#mostVisited h2 {
	font-size: 14px;
	color: #555;
	padding: 15px;
	border-bottom: solid 1px rgba(0,0,0,.1);
	padding-bottom: 15px;
	margin-top: 2px;
	font-weight: 700;
}

#footer {
	height: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: rgb(127, 127, 127);
	font-size: 11px;
	font-family: 'Lucida Grande', sans-serif, arial;
	background-image: -webkit-linear-gradient( rgba(242, 242, 242, 1), rgba(222, 222, 222, 1));
	bottom: 0;
	color: #7F7F7F;
	font-weight: bold;
	border-top: solid 1px #ccc;
}
.poshfeedLogo {
	width:24px;
	height:24px;
	background-image:url(icon24.png);
	background-repeat:no-repeat;
	margin: 8px 10px 0 8px;
	float: left;
}
#optionsLink {
	line-height: 40px;
	color: rgb(50, 50, 50);
	text-decoration: none;
	background: url(cog.png) no-repeat left;
	padding-left: 18px;
	opacity: .8;
}
#optionsLink:hover {
	opacity: 1;
}



/*OPTIONS PAGE*/
body#options {
	margin:0;
	padding: 0;
	background:#eee;
	font-family: 'Lucida Grande', sans-serif, arial;
	font-size: 13px;
	color: rgb(48, 57, 66);
	line-height: 140%;
}
#options .container {
	width: 400px;
	margin: 0 auto;
	border-left: dotted 1px #ccc;
	padding-left: 20px;
	margin-top: 50px;
	position: relative;
}
#options .logo {
	position: absolute;
	-webkit-transform:rotate(90deg);
	left: -150px;
	top: 80px;
	height: 48px;
	width: 220px;
	background: url(poshfeed.png) no-repeat left top;
}
#options h1 {
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
	font-size: 15px;
}
#options h2 {
	font-weight: bold;
	margin: 20px 0;
}
#options ul {
	margin: 20px 0;
}
#options li {
	margin-bottom: 5px;
	color: rgba(48, 57, 66, .6);
}
#options li.checked {
	font-weight: bold;
	color: rgb(48, 57, 66);
}
#options button {
	-webkit-appearance: none;
	-webkit-user-select: none;
	background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	color: #444;
	font: inherit;
	margin: 0 1px 0 0;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
}
#options button:hover {
	background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
	border-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
	color: black;
}
#options button:active {
	background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
	box-shadow: none;
	text-shadow: none;
}
#options #credit {
	font-size: 12px;
	padding: 20px 0;
	margin-top: 20px;
	color: rgba(48, 57, 66, .6);
	border-top: solid 1px #ccc;
}
#options #credit a {
	color: #e89063;
	text-decoration: underline;
}
#options #status {
	display: none;
}
#adminModeIndicator{
    position: absolute;
    right: 20px;
    line-height: 40px;
    font-size: 20px;
    color: red;
}
#adminStrip{
    position:absolute;
    width:720px;
    bottom: 64px;
    height: 180px;
    left:33%;
    display:none;
}

#adminJsonDisplay{
    background-color:black;
    border:2px solid white;
    color:white;
    padding:10px;
    width:500px;    
    height: 180px;
    float:left;
    opacity:0.4;
}
#adminJsonDisplay:focus{
    opacity:1;
}
.adminButtons{
    width:60px;
    padding:10px;
    margin:40px 5px;
    color:white;
    float:left;
    text-align:center;
    text-decoration:none;
    opacity:0.4;
}
.adminButtons#approveArticle{
    background:green;
}
.adminButtons#declineArticle{
    background:red;
}
.adminButtons.noOpacity{
	opacity:1;
}
